<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_save_after">
        <observer name="survease_survey_submit_invitation" instance="Survease\Survey\Observer\SubmitInvitation"/>
    </event>
</config>
